<h1><%= @photo.caption %></h1>

<table>

  <tr>
    <td>
      <img src="<%= @photo.source %>" width="max">
    </td>
  </tr>

  <tr>
    <td>
      <%= @photo.caption %>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://localhost:3000/photos">Back to Index</a>
    </td>
  </tr>
</table>
