<h1>Photo Details</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Caption</th>
  </tr>
  <tr>
    <td>
      <img src="<%= @the_photo.source %>" width="80">
    </td>
    <td>
      <%= @the_photo.caption %>
    </td>
