<h1>Photo Details</h1>

<h1></h1>

<img src="<%= @source %>" >

<%= @caption %>
<a href="http://localhost:3000/photos/">Back</a>
<a href="http://localhost:3000/photos/<%= @pic_id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_photo/<%= @pic_id %>">Delete</a>

