<h1>Photo Details</h1>


<img src="<%= @source %>", width=720>
<p><%= @caption %></p>

<table>
  <tr>
    <td><a href="http://localhost:3000/photos/">Back</a></td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

</table>

