<h1> Updated Photo Details </h1>

<h2> <center> <%= @a.caption %> </center> </h2>

<h2><center>
<img src="<%= @a.source %>" align= "middle" width="720">
</center> </h2>

<a href="http://localhost:3000/photos">Return Back</a>
